{% load i18n %}

{% block subject %}
{% blocktrans %}{{ domain }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been changed!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ domain }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your password has been changed!" %}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ domain }} team{% endblocktrans %}</p>
{% endblock html_body %}
