@import '../../utilities/branding';

.coach-card {
  position: relative;
  min-height: 360px;
  width: 239px;
  border-radius: 3px;
  background-color: #ffffff;
  color: var(--font-gray);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.67px;
  line-height: 20px;
  margin: 0px 18px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(9, 14, 32, 0.364483) 2px 2px 8px;

  .ant-btn-link {
    color: #ffffff;
  }
  .coach-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    background-color: var(--revamp-coachSchedulerCard);
    border-radius: 3px 3px 0 0;
    padding: 0px 10px;
    font-weight: 900;
    letter-spacing: 0.67px;
    line-height: 17px;
    color: #ffffff;
    button {
      z-index: 2;
    }
  }
  .coach-card-title-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    background-color: var(--revamp-participantList);
    border-radius: 3px 3px 0 0;
    padding: 0px 10px;
    font-weight: 900;
    letter-spacing: 0.67px;
    line-height: 17px;
    color: #ffffff;
    button {
      z-index: 2;
    }
  }
  .header {
    background-color: var(--revamp-coachSchedulerCard);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    padding: 0px 10px 5px;
    display: flex;
    justify-content: space-between;
  }
  .header-back {
    background-color: var(--revamp-participantList);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    padding: 0px 10px 5px;
    display: flex;
    justify-content: space-between;
  }
  .calendar-icon {
    align-self: center;
    width: 2em;
    cursor: pointer;
  }
  .sub-headers {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }
  .dropdowns {
    display: flex;
    margin: 0 10px;
    min-height: 33.25px;
    .dest-left {
      width: 55%;
      justify-content: start;
    }
    .life-right {
      width: 50%;
      justify-content: start;
    }
  }
  .sub-header {
    color: $primary-brand-color;
    margin: 10px;
  }
  .sub-header-life {
    color: $primary-brand-color;
    margin: 10px;
    margin-right: 50px;
    .selected {
      padding: 0;
    }
  }
  .sub-header-participant {
    color: $primary-brand-color;
    margin-left: 10px;
  }
  .sub-header-transportation {
    color: $primary-brand-color;
    margin-left: 10px;
    margin-top: 10px;
  }
  .body {
    position: relative;
    flex: 1;
    &.back {
      background-color: var(--revamp-participantList);
    }
  }
  .drop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    background-color: white;
    color: $primary-brand-color;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 9px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .participant-outline {
    width: 100%;
    height: 100%;
    border: 1px dashed #c8cdce;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .copy-dropdown {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    .ant-select-arrow > * {
      position: relative;
      bottom: 8px;
      right: 8px;
    }
  }
  .placeholder {
    width: 300px;
  }
  .background-participants {
    position: absolute;
    left: 10px;
    right: 10px;
  }
  .participants {
    display: block;
    margin: 10px;
    min-height: 255px;
  }
  .transport-text {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #ffffff;
    color: #3e5467;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    .ant-select-arrow > * {
      position: relative;
      bottom: 8px;
      right: 8px;
    }
  }
  .status-view {
    z-index: 1;
    border-radius: 3px;
    background-color: rgba(62, 84, 103, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .status {
      &.unscheduled {
        background-color: #82eb7f;
        color: var(--deep-blue);
      }
      &.called_out {
        background-color: #e02020;
      }
      &.scheduled_off {
        background-color: #f7b500;
        color: var(--deep-blue);
      }
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 17.5px;
      background-color: #e02020;
      height: 35px;
      width: 131px;
      color: #ffffff;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 0.73px;
      line-height: 15px;
      text-align: center;
    }
  }
  .participant-card {
    border: 1px solid #4197cb;
  }
}
