.user-menu {
  .ant-btn-link {
    color: var(--medium-blue);
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
.ant-menu-item-active {
  background-color: rgba(212, 231, 250, 0.7);
  &.remove {
    background-color: rgba(206, 25, 25, 0.15);
  }
}

.status-selected {
  background-color: lightblue;
}

.ant-tooltip-inner {
  background-color: #3e5467;
  opacity: 1;
  color: white;
}
.note-menu {
  position: relative;
  background: white;
  padding: 5px;
  .close {
    display: flex;
    height: auto;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 4px;
    background-color: #f7f9fa;
  }
  .ant-input {
    border-radius: 4px;
    background-color: #f7f9fa;
  }
  .submit {
    margin-top: 5px;
    border: 1px solid var(--dark-green);
    color: var(--dark-green);
    border-radius: 3px;
    &:hover,
    &:focus {
      border: 1px solid #00cdb7;
      color: #00cdb7;
    }
  }
}
.participant-card {
  position: relative;
  height: 80px;
  width: 99%;
  color: var(--medium-blue);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(98, 117, 133, 0.24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  .name {
    padding: 0 5px;
  }
  .right-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
  }
  .ant-dropdown-link {
    height: 40px;
    padding: 10px 6px 0px 0px;
    border: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    border-radius: 0 3px 3px 0;
  }
  .status-box {
    line-height: 0;
    height: 100%;
    padding: 0;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25px;
    border-radius: 0 2px 2px 0;
    background-color: #0079c2;
  }
  .ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 0;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px;
    height: 25px;
    line-height: 22px;
    z-index: 2;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 22px;
  }
  .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    height: auto;
    width: max-content;
  }
  .ant-select-arrow > * {
    position: relative;
    bottom: 8px;
    right: 8px;
    z-index: 3;
  }
}
